<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container text-center">
    <h1 style="font-size:60px;" class="jumbotron">
      Mission to Mars
      <br />
      <a href="/scrape" class="btn btn-primary btn-lg">Scrape New Data</a>
    </h1>
  </div>
  <div style="background: linear-gradient(#ffffff, #f2f2f3); padding: 20px 20px 20px 20px;" class="container">
    <div class="row">
      <div class="col-md-12">
        <h1> Latest Mars News </h1>
        <h3> {{ mars_data.newsTitle }} </h3>
        <p> {{ mars_data.newsParagraph }}</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-8">
        <h3> Featured Mars Image </h3>
        <img style=" max-width:100%; max-height:100%;" src={{ mars_data.featuredImage }} alt="Featured Mars Image">
      </div>
      <div class="col-md-4">
        <div style="border: 1px solid rgb(223, 224, 221); padding: 10px 10px 10px 10px;" class="row">
          <h3> Current Weather on Mars </h3>
          <p> {{ mars_data.marsWeather }} </p>
        </div>
        <div class="row">
          <h3> Mars Facts </h3>
          {{ mars_data.tableHtml |safe }}
        </div>
      </div>
    </div>
  </div>
  <br>
  <div style="background: linear-gradient(#ffffff, #f2f2f3);" class="container">
    <h1 style="text-align: center;">Mars Hemisheres</h1>
    <hr>
    <div class="row">
      {% for item in mars_data.hemisphereImages %}
      <div style="border: 1px solid rgb(223, 224, 221); padding: 10px 10px 10px 10px;" class="col-md-6">
        <img style=" max-width:100%; max-height:100%;" src={{ item.img_url}} alt="Hemisphere Image">
        <h2> {{ item.title }}</h2>
        <br>
      </div>
      {% endfor %}
    </div>
</body>

</html>